body {
  background-color: $primary-color-black;
}

.scroll_more {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);

  .arrow__icon {
    transform-origin: center;
    transform: rotate(90deg);
  }

  p {
    text-align: center;
    color: $primary-color-white;
  }
}

// Animation
.scroll_more {
  animation: fade-up $basic-timing $basic-bezier both;
  animation-delay: 7s;
}
